body {
    display: flex;
    justify-content: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: rgb(39, 38, 38);
    color: white;
}

#container {
    display: flex;
    width: 1000px;
    flex-direction: column;
    justify-content: center;
}

#header {
    display: flex;
    font-size: 72px;
    font-weight: 800;
    align-self: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

#score {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-size: 24px;
    border-width: 4px;
}

#playerScoreContainer {
    display: flex;
    color: lightgreen;   
}

#cpuScoreContainer {
    display: flex;
    color: red;
}

#gameDisplay {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

#playerPick {
    display: flex;
    flex-direction: column;
}

#playerPick img {
    width: 200px;
    height: 200px;
}

#playerPick h1 {
    display: flex;
    align-self: center;
    color: lightgreen;
}

#versus {
    display: flex;
    align-items: center;
    padding: 24px;
    font-size: 72px;
    text-shadow: -2px 2px 0 #000, 
                  2px 2px 0 #000, 
                  2px -2px 0 #000, 
                 -2px -2px 0 #000;
    color: red;
}

#cpuPick {
    display: flex;
    flex-direction: column;
}

#cpuPick img {
    width: 200px;
    height: 200px;
}

#cpuPick h1 {
    display: flex;
    align-self: center;
    color: red;
}

#statusContainer {
    display: flex;
    justify-content: center;
    padding: px;
}

#statusDisplay {
    display: flex;
    font-size: 36px;
}

#buttonContainer {
    display: flex;
    justify-content: space-evenly;
}