body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    width: 1000px;
    border-style: solid;
    border-width: 8px;
    flex-direction: column;
    justify-content: center;
}

#header {
    display: flex;
    font-size: 72px;
    font-weight: 800;
    border-style: solid;
    border-color: blueviolet;
    align-self: center;
}

#gameDisplay {
    display: flex;
    border-style: solid;
    border-color: red;
    border-width: 4px;
    justify-content: space-between;
}

#playerPick {
    display: flex;
    border-style: solid;
    border-color: aqua;
}

#versus {
    display: flex;
    border-style: solid;
    border-color: orange;
}

#cpuPick {
    display: flex;
    border-style: solid;
    border-color: greenyellow;
}

#statusContainer {
    display: flex;
    border-style: solid;
    border-color: blue;
    border-width: 4px;
    justify-content: center;
}

#statusDisplay {
    display: flex;
    border-style: solid;
    border-color: lightblue;
}

#buttonContainer {
    display: flex;
    border-style: solid;
    border-color: green;
    border-width: 4px;
    justify-content: space-evenly;
}

#rockControl {
    display: flex;
    border-style: solid;
    border-color: lime;
}

#rockControl img {
    width: 100px;
    height: 100px;
}

#paperControl {
    display: flex;
    border-style: solid;
    border-color: darkgreen;
}

#paperControl img {
    width: 100px;
    height: 100px;
}

#scissorsControl {
    display: flex;
    border-style: solid;
    border-color: olive;
}

#scissorsControl img {
    width: 100px;
    height: 100px;
}